
<div class="form-box">
  <p>Add/Edit a Doggie</p>
<%= simple_form_for(@dog) do |f| %>
  <%= f.input :name %>
  <%= f.input :breed %>
  <%= f.input :bio %>
  <%= f.input :sex %>
  <%= f.input :age %>
  <%= f.input :hourly_price %>
  <%= f.input :picture %>
  <%= f.input :picture_cache, as: :hidden %>
  <%= f.submit "Submit", class: "btn btn-primary wide-button" %>
<% end %>

</div>
