
<h2>Hi dear Dogwalker, <%= current_user.firstname %></h2>
<% @walks.each do |walk| %>
  <p> Walk date: <%= walk.startdate %></p>
  <p>at <%= walk.startime %></p>
  <p> Dog's name : <%= walk.dog.name %> </p>
  <p> Dog's breed: <%= walk.dog.breed %></p>
  <p> Dog owners name is : <%= walk.dog.user.firstname %> %></p>
<% end %>
